@tailwind components;
@tailwind utilities;

@import "../index";
@import "../explore/explore.scss";

.bg-light-main-color {
  background-color: $lightMainColor;
}

.bg-light-sub-color {
  background-color: $lightSubColor;
}

#analytics {
  #bookings-number {
    flex: 1 1 auto;
  }

  #average-success-booking-rate {
    flex: 1 1 auto;
  }

  .stats-card {
    flex: 1 1 auto;
  }

  #chart {
    flex: 2 1 auto;
  }
}
